/* src/scrollbar.css */
@layer utilities {
    .scrollbar-thin {
      scrollbar-width: thin; /* Firefox */
    }
  
    .scrollbar-thumb-gray {
      scrollbar-color: #a0aec0 transparent; /* Firefox */
    }
  
    .scrollbar-thin::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    .scrollbar-thin::-webkit-scrollbar-thumb {
      background-color: #a0aec0; /* Tailwind gray-400 */
      border-radius: 9999px;
    }
  
    .scrollbar-thin::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  